body{
    background-color: #FAECB6;
    }

header {
        background-color: #93D3AE; 
    }
      
footer {
        background-color: #93D3AE; 
    }

table {
    width:50%;
    height: 200;
}

    #colom1 { background-color: #ff9999; }  
    #colom2 { background-color: #ffcc99; }  
    #colom3 { background-color: #ffff99; }  
    #colom4 { background-color: #ccff99; }  
    #cell5 { 
        background-color: #99ff99; 
        color: #584600;
    }  
    #cell6 { background-color: #99ffcc; }  
    #cell7 { 
        background-color: #99ffff; 
        color: #005d00;
    }  
    #cell8 { background-color: #99ccff; }  
    #cell9 { 
        background-color: #9999ff; 
        color: #003162;
    }  
    #cell10 { background-color: #cc99ff; } 
    #cell11 { 
        background-color: #ff99ff; 
        color: #300060;
    } 
    #cell12 { background-color: #ff99cc; } 
    #cell13 { 
        background-color: #ff6699; 
        color: #5f2600;
    } 
    #cell14 { background-color: #ff9966; } 
    #cell15 { 
        background-color: #ff9933; 
        color: #002e5c;
    } 
    #cell16 { background-color: #ff6600; } 
    